<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true"  data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalLabel">Изменить</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer" id="mdlFooterBlock">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" value="Update"  id="saveChangesBtn" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>


