<form id="editOrderForm" th:action="@{/save}" method="post" name="editOrderForm">
    <input type="hidden" name="id" th:value="${order.id}" />
                            <div class="mb-3">
                            <label for="client" class="form-label">Клиент:</label>
                            <select id="client" name="clientId" class="form-select" required>
                                <option th:each="client : ${clients}"
                                        th:value="${client.id}"
                                        th:text="${client.name + ' ' + client.surname}"
                                        th:selected="${client.id} == ${order.client?.id}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="service" class="form-label">Услуга:</label>
                            <select id="service" name="serviceId" class="form-select" required>
                                <option th:each="service : ${services}"
                                        th:value="${service.id}"
                                        th:text="${service.name}"
                                        th:selected="${service.id == order.service.id}">
                                </option>
                            </select>
                        </div>
    <div class="mb-3">
        <label for="date" class="form-label">Дата:</label>
        <input type="date" id="date" name="date" class="form-control" th:value="${order.date}" required>
    </div> <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    </form>