            <form th:action="@{/orders}" th:object="${order}" method="post" id="orderForm">
                <div class="form-group">
                    <label for="client">Клиент:</label>
                    <select id="client" name="clientId" class="form-control" required>
                        <option value="-1">Создать нового клиента</option>
                        <option value="" disabled selected>Выбрать клиента</option>

                        <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.name + ' ' + client.surname}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="service">Услуга:</label>
                    <select id="service" name="serviceId" class="form-control" required>
                        <option value="" disabled selected>Выбрать услугу</option>
                        <option th:each="service : ${services}" th:value="${service.id}" th:text="${service.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Дата окончания работ:</label>
                    <input type="date" id="date" th:field="*{date}" class="form-control" required />
                </div>
                </br>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button type="submit" class="btn btn-primary">Создать заказ</button>
                </div>
            </form>
